archive

Datasets/*
!Datasets/*/Test/.gitkeep
!Datasets/*/Train/.gitkeep
!Datasets/*/Val/.gitkeep


Evaluation/*
!Evaluation/*.ipynb
!Evaluation/Graphics/ARCHITECTURE.png

models/*
!models/*.py
 
MICCAI_2023

rasterizer

Results

utils/*
!utils/*.py

Visualise_Training

weights/*
!weights/JSRT_Padchest/
weights/JSRT_Padchest/*
!weights/JSRT_Padchest/.gitkeep

*.qsub
*.ipynb



