archive

*.qsub
*.ipynb

Datasets/*
!Datasets/README.md

!Datasets/JSRT/
Datasets/JSRT/*
!Datasets/JSRT/*.txt
!Datasets/JSRT/preprocess.ipynb

!Datasets/Padchest/
Datasets/Padchest/*
!Datasets/Padchest/*.txt
!Datasets/Padchest/preprocess.ipynb

!Datasets/JSRT_Padchest/
Datasets/JSRT_Padchest/*
!Datasets/JSRT_Padchest/.gitkeep

!Datasets/Montgomery/
Datasets/Montgomery/*
!Datasets/Montgomery/*.txt
!Datasets/Montgomery/preprocess.ipynb

!Datasets/Shenzen
Datasets/Shenzen/*
!Datasets/Shenzen/*.txt
!Datasets/Shenzen/preprocess.ipynb

!Datasets/Montgomery_Shenzen/
Datasets/Montgomery_Shenzen/*
!Datasets/Montgomery_Shenzen/.gitkeep


Evaluation/*
!Evaluation/*.ipynb
!Evaluation/README.md
!Evaluation/Graphics/
Evaluation/Graphics/*
!Evaluation/Graphics/ARCHITECTURE.png
!Evaluation/Graphics/CAD.jpeg
!Evaluation/Graphics/QUALITATIVE.png
!Evaluation/Graphics/FEATURES.png


models/*
!models/*.py
 
MICCAI_2023

rasterizer

Results

utils/*
!utils/*.py

Visualise_Training

weights/*
!weights/JSRT_Padchest/
weights/JSRT_Padchest/*
!weights/JSRT_Padchest/.gitkeep

!weights/Montgomery_Shenzen/
weights/Montgomery_Shenzen/*
!weights/Montgomery_Shenzen/.gitkeep

.gitignore
.idea/
__init__.py

