archive

Datasets/*
!Datasets/JSRT/
Datasets/JSRT/*
!Datasets/JSRT/*.txt

!Datasets/JSRT_Padchest/
Datasets/JSRT_Padchest/*
!Datasets/JSRT_Padchest/*.txt

!Datasets/Montgomery/
Datasets/Montgomery/*
!Datasets/Montgomery/*.txt

!Datasets/Montgomery_Shenzen/
Datasets/Montgomery_Shenzen/*
!Datasets/Montgomery_Shenzen/.gitkeep

!Datasets/Padchest
Datasets/Padchest/*
!Datasets/Padchest/*.txt

!Datasets/Shenzen
Datasets/Shenzen/*
!Datasets/Shenzen/*.txt

Evaluation/*
!Evaluation/*.ipynb

models/*
!models/*.py
 
MICCAI_2023

rasterizer

Results

utils/*
!utils/*.py

Visualise_Training

weights/*
!weights/JSRT_Padchest/
weights/JSRT_Padchest/*
!weights/JSRT_Padchest/.gitkeep

!weights/Montgomery_Shenzen/
weights/Montgomery_Shenzen/*
!weights/Montgomery_Shenzen/.gitkeep


*.qsub
*.ipynb



